<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'm-5 h-screen'>
    

    <main class = 'mx-auto bg-indigo-400 h-fit min-h-5/6 rounded-md md:w-5/6 lg:w-3/4 w-fit my-auto pb-12'>
        <div class = 'flex w-full justify-between border-b-1 border-b-indigo-600 h-24 items-center'>
            <div class = 'flex flex-col pl-5 w-14 h-16'>
                <div class = 'flex justify-end'>
                    <span>Z</span>
                </div>
                <div class = 'flex justify-center'>
                    <span class = 'text-sm'>Z</span>
                </div>
                <div class = 'flex justify-start'>
                    <span class ='text-xs'>z</span>
                </div>

            </div>
        <% if(authentic){ %>
            <nav class = 'flex justify-around w-56 md:w-60 pr-4'>
            <a class = 'text-amber-400 hover:underline' href = '/logout'>Logout</a>
            <a class = 'text-amber-400 hover:underline' href = '/home'>Dashboard</a>
            
            <a class = 'text-amber-400 hover:underline' href = '/info'>Info</a>
            </nav>
            <% } else{ %>

        <nav class = 'flex justify-around w-52 md:w-60 pr-4'>
        <a class = 'text-amber-400 hover:underline' href = '/signup'>Signup</a>
        <a class = 'text-amber-400 hover:underline' href="/login">Login</a>
        <a class = 'text-amber-400 hover:underline' href = '/info'>More Info</a>
        </nav>
        <% } %>
        </div>
        
        <section class = 'flex flex-col pt-8 pr-4 pl-4 h-full'>
           
            
      
   
    <div class = 'w-full sm:w-2/3 text-center sm:text-left h-3/4 sm:mx-auto sm:pt-12'>
        <h1 class = 'text-amber-400 text-4xl pb-8 sm:pb-20'>Welcome to Your Dream Journal</h1>
        
        <div class = 'flex flex-col h-4/5 justify-around items-around shrink sm:pl-8'>
            <span class = 'text-xl hover:text-2xl ease-in-out cursor-pointer duration-300 pb-6'>Track your Dreams Daily</span>  
            <span class = 'text-xl hover:text-2xl ease-in-out cursor-pointer duration-300 pb-6'>Drastically Improve Dream Retention</span>      
        <span class = 'text-xl hover:text-2xl ease-in-out cursor-pointer duration-300 pb-6'>Learn how to Lucid Dream</span>
        <span class = 'text-xl hover:text-2xl ease-in-out cursor-pointer duration-300 pb-6'>Recognize Recurring Dreams or Symbols</span>
        <span class = 'text-xl hover:text-2xl ease-in-out cursor-pointer duration-300'>Use your Dreams as a Source of Inspiration and Creativity</span>
        </div>
    </div>
    
    </section>
    </main>
    <script src = 'js/main.js'></script>
</body>
</html>