<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'p-5 h-screen'>
    

    <main class = 'mx-auto bg-indigo-400 h-3/4 rounded-md p-1 md:w-3/4 w-fit my-auto'>
        <div class = 'flex w-full justify-center md:justify-end lg:justify-end'>
        <% if(authentic){ %>
            <nav class = 'flex justify-around w-72 md:w-80'>
            <a class = 'text-amber-400 underline' href = '/logout'>Logout</a>
            <a class = 'text-amber-400 underline' href = '/home'>Dashboard</a>
            <a class = 'text-amber-400 underline' href = '/entries/1'>Entries</a>
            <a class = 'text-amber-400 underline' href = '/info'>More Info</a>
            </nav>
            <% } else{ %>

        <nav class = 'flex justify-around w-48 md:w-60'>
        <a class = 'text-amber-400 underline' href = '/signup'>Signup</a>
        <a class = 'text-amber-400 underline' href="/login">Login</a>
        <a class = 'text-amber-400 underline' href = '/info'>More Info</a>
        </nav>
        <% } %>
        </div>
        <div>
            <h1 class = 'text-amber-400'>Welcome to Your Dream Journal</h1>
      <h2>Why Keep a Dream Journal?</h2>
    <p>We dream every night. But most people forget what they dreamt about by the time their feet hit the floor. By journaling your dreams first thing in the morning, you improve dream retention, vividness, and lucidity. </p>

    <h3>Benefits:</h3>
    <ul>
        <li>Learning how to Lucid Dream</li>
        <li>Recognizing Recurring Dreams or Symbols</li>
        <li>Using your Dreams as a Source of Inspiration or Creativity</li>
    </ul>
    </div>
    </main>
    <script src = 'js/main.js'></script>
</body>
</html>