<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'p-5 h-screen'>
    

    <main class = 'mx-auto bg-indigo-400 h-5/6 rounded-md md:w-5/6 lg:w-3/4 w-fit my-auto'>
        <div class = 'flex w-full justify-between border-b-1 border-b-indigo-600 h-24 items-center'>
            <div class = 'flex flex-col pl-5 w-14 h-16'>
                <div class = 'flex justify-end'>
                    <span>Z</span>
                </div>
                <div class = 'flex justify-center'>
                    <span class = 'text-sm'>Z</span>
                </div>
                <div class = 'flex justify-start'>
                    <span class ='text-xs'>z</span>
                </div>

            </div>
        <% if(authentic){ %>
            <nav class = 'flex justify-around w-56 md:w-60 pr-4'>
            <a class = 'text-amber-400 hover:underline' href = '/logout'>Logout</a>
            <a class = 'text-amber-400 hover:underline' href = '/home'>Dashboard</a>
            
            <a class = 'text-amber-400 hover:underline' href = '/info'>Info</a>
            </nav>
            <% } else{ %>

        <nav class = 'flex justify-around w-52 md:w-60 pr-4'>
        <a class = 'text-amber-400 hover:underline' href = '/signup'>Signup</a>
        <a class = 'text-amber-400 hover:underline' href="/login">Login</a>
        <a class = 'text-amber-400 hover:underline' href = '/info'>More Info</a>
        </nav>
        <% } %>
        </div>
        
        <section class = 'flex flex-col pt-4 pr-4 pl-4'>
            <div>
            <h1 class = 'text-amber-400 text-lg pb-4'>Welcome to Your Dream Journal</h1>
      <h2>Why Keep a Dream Journal?</h2>
    <p>We dream every night. But most people forget what they dreamt about by the time their feet hit the floor. By journaling your dreams first thing in the morning, you improve dream retention, vividness, and lucidity. </p>

    <h3>Benefits:</h3>
    <ul>
        <li>Learning how to Lucid Dream</li>
        <li>Recognizing Recurring Dreams or Symbols</li>
        <li>Using your Dreams as a Source of Inspiration or Creativity</li>
    </ul>
    </div>
    </section>
    </main>
    <script src = 'js/main.js'></script>
</body>
</html>