<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'p-5 h-screen'>
    
    
    <main class = 'mx-auto bg-indigo-400 h-3/4 rounded-md p-1'>
        <h1 class = 'text-amber-400'>Welcome to Your Dream Journal</h1>
        <% if(authentic){ %>
            <a class = 'text-amber-400 underline' href = '/logout'>logout</a>
            <a class = 'text-amber-400 underline' href = '/home'>home</a>

            <% } else{ %>
       <a class = 'text-amber-400 underline' href="/login">login</a>
        <a class = 'text-amber-400 underline' href = '/signup'>Signup</a>
        <% } %>
        <div>
      <h2>Additional Information & Resources</h2>
  
    </div>
    </main>
    <script src = 'js/main.js'></script>
</body>
</html>