<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'p-5'>
    
    <main class = 'mx-auto bg-indigo-400 h-96 rounded-md p-1'>
        <h1 class = 'text-amber-400'>Welcome to the Dream Journal Entry Page</h1>
        
        <h2>Journal entry</h2>
        <form action = '/journal/createDream' method = 'POST'>
            <input type = 'text' placeholder = 'Describe your dream' name = 'dreamEntry'>
            <button class = 'bg-amber-400' type = 'submit'>Submit</button>
        </form>

        <h3>Previous Dreams</h3>

        <ul>
            <% dreams.forEach( el => { %>
                <li class='dream' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.dream %></span>
                    <span class='del text-amber-400'> Delete </span>
                  
                </li>
            <% }) %>    
            </ul>

    </main>
    <script src = 'js/main.js'></script>
</body>
</html>