<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Document</title>
</head>
<body class = 'flex h-screen'>
    <main class = 'mx-auto bg-indigo-400 h-1/2 rounded-lg md:w-2/3 lg:w-1/2 w-fit px-5 my-auto opacity-80 flex flex-col items-center justify-around'>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1 class = 'text-3xl text-amber-400'>Welcome Back</h1>
    <form class = 'flex flex-col justify-around items-center w-full h-2/3' action="/login" method="POST">
       

        <input class = 'h-10' type="email" name="email" placeholder="Email">
        <input class = 'h-10' type="password" name="password" placeholder="Password">
        <input class = 'h-8 bg-amber-400 hover:bg-amber-200 w-48 rounded-xl hover:cursor-pointer' type="submit">
        
    </form>
    <span>New here? <a class = 'text-amber-400 underline hover:cursor-pointer' href = '/signup'>Sign up</a></span>
    </main>
</body>
</html>