<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Sign-up</title>
</head>
<body class = 'flex mx-6 h-screen'>
    <main class='mx-auto bg-indigo-400 h-2/3 rounded-lg w-5/6 md:w-2/3 lg:w-1/2 w-5/6 my-auto opacity-80 flex justify-center'>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
   
    <form class = 'flex flex-col justify-around items-center w-full' action="/signup" method="POST">
        <h1 class = 'text-amber-400 text-3xl'>Sign-Up</h1>
        <input class = '' type="text" name="userName" placeholder="User Name">
        <input class="" type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class = 'bg-amber-400 w-32 rounded-xl hover:cursor-pointer' type="submit">
    </form>
    
</main>
</body>
</html>