<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Sign-up</title>
</head>
<body class = 'flex h-screen'>
    <main class='mx-auto bg-indigo-400 h-2/3 rounded-lg md:w-2/3 lg:w-1/2 w-fit px-5 my-auto opacity-80 flex flex-col justify-around items-center'>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1 class = 'text-amber-400 text-3xl'>Sign-Up</h1>
    <form class = 'flex flex-col justify-around items-center w-full h-3/4' action="/signup" method="POST">
        
        <input class = 'h-8' type="text" name="userName" placeholder="User Name">
        <input class="h-8" type="email" name="email" placeholder="Email">
        <input class = 'h-8' type="password" name="password" placeholder="Password">
        <input class = 'h-8' type="password" name="confirmPassword" placeholder="Confirm Password">
        <input class = 'bg-amber-400 hover:bg-amber-200 w-48 h-8 rounded-xl hover:cursor-pointer' type="submit">
    </form>
    <span>Already a user? <a class = 'text-amber-400 underline hover:cursor-pointer' href = '/login'>Login</a></span>
</main>
</body>
</html>